/* FÖRSLAGSLÅDAN */
.container {
    width: clamp(300px 80% 1300px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}
.container .info {
    background-color: #F54D2A;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    width: 1150px;
}
iframe {
    min-height: 500px;
    width: 100%;
    min-height: 650px;
}