/*Startsida*/
.container-wrapper .container {
    width: clamp(300px 80% 1300px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}
.container-wrapper .container .info {
    background-color: #F54D2A;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    width: 700px;
}
.container-wrapper .container .styrelse {
    background-color: #D5D7D4;
    padding: 1rem;
    border-radius: 15px;
    width: 400px;
}

.event-wrapper {
    display: flex;
    justify-content: center;
}
.event-wrapper .calendar {
    background-color: #dfbd8bca;
    border-radius: 15px;
    padding: 1rem;
    /*width: clamp(80%, 1150px);*/
    width: 1150px;
    gap: 2rem;
}
.event-wrapper .calendar .events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.event-wrapper .calendar .events .box {
    padding: 1rem;
}

.event-wrapper .calendar .events .box a {
    background:white;
    color: black;
    padding: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1rem;
    border-radius: 5px;
    transition: .4s ease;
}
.event-wrapper .calendar .events .box a:hover {
    background-color: #F54D2A;
    color: #D5D7D4;
}