/*Standarder*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
* {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fcfcfc;
}

hr {
    border: 2px solid rgb(108, 108, 108);
    border-radius: 5px;
}

iframe {
    border-radius: 15px;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50%;
}
::-webkit-scrollbar-thumb {
    background: #F54D2A; 
    border-radius: 20px;
}

.footer {
    color: white;
    margin-top: 2rem;
    width: 100%;
    padding: 0.5rem;
    background-color: #F54D2A;
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.footer .social {
    fill: white;
}

/*Navigatoionsmenyn*/
.nav-wrapper {
    margin-top: 2rem;
}
.nav-wrapper .nav {
    width: clamp(300px, 80%, 1300px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper .nav .logo {
    display: flex;
    height: 10rem;
}
.nav-wrapper .nav .menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-wrapper .nav .menu .link {
    color: black;
    font-weight: 700;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}
.nav-wrapper .nav .menu .link:hover {
    background: #d5d7d4;
    color: black;
    fill: black;
    transition: .4s ease;
}
.nav-wrapper .nav .menu .link-selected {
    color: white;
    background: #F54D2A;
    font-weight: 700;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: .4s ease;
}