@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
* {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fcfcfc;
}

hr {
    border: 2px solid rgb(108, 108, 108);
    border-radius: 5px;
}

.footer-wrapper {
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 2rem;
    width: 100%;
    padding: 0.5rem;
    background-color: #D5D7D4;
    text-align: center;
}

.nav-wrapper {
    margin-top: 2rem;
}
.nav-wrapper .nav {
    width: clamp(300px, 80%, 1300px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper .nav .logo {
    display: flex;
    height: 10rem;
}
.nav-wrapper .nav .menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-wrapper .nav .menu .link {
    color: black;
    text-decoration: none;
    font-weight: 700;
    transition: .4s ease;
}
.nav-wrapper .nav .menu .link:hover {
    color: #F54D2A;
    fill: #F54D2A;
}
.nav-wrapper .nav .menu .link-selected {
    color: #F54D2A;
    font-weight: 700;
    text-decoration: none;
}

.container-wrapper {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}
.container-wrapper .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: clamp(300px, 80%, 1300px);
    gap: 2rem;
}
.container-wrapper .container .info {
    background-color: #F54D2A;
    border-radius: 5px;
    padding: 1rem;
    color: white;
}
.container-wrapper .container .styrelsen {
    background-color: #D5D7D4;
    border-radius: 5px;
    padding: 1rem;
}

.event-wrapper {
    display: flex;
    justify-content: center;
}
.event-wrapper .calendar {
    background-color: #DFBE8B;
    border-radius: 5px;
    padding: 1rem;
    width: clamp(300px, 80%, 1300px);
    gap: 2rem;
}
.event-wrapper .calendar .events {
    display: flex;
    flex-direction: row wrap;
}
.event-wrapper .calendar .events .box {
    padding: 1rem;
}

.event-wrapper .calendar .events .box a {
    background:#D5D7D4;
    color: black;
    padding: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: .4s ease;
}
.event-wrapper .calendar .events .box a:hover {
    background-color: #F54D2A;
    color: #D5D7D4;
}

/*Om Oss*/
.about-wrapper {
    display: flex;
    justify-content: center;
}
.about-wrapper .about {
    background-color: #F54D2A;
    border-radius: 5px;
    padding: 1rem;
    color:white;
    width: clamp(300px, 80%, 1300px);
    gap: 2rem;
}
.ledamot-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row wrap;
}
.ledamot-wrapper .rubrik {
    gap: 2rem;
}
.ledamot-wrapper .ledamoter {
    background-color: #D5D7D4;
    border-radius: 5px;
    padding: 1rem;
    margin: 2rem;
}
.ledamoter img {
    border-radius: 5px;
}